<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Scripts article</title>
{% include "header.html" %}
<style>
.total-page {
	margin:10px;
}

.code-page {
	margin:5px;
	padding: 5px;
}
</style>
</head>
<body>
	<div class="total-page">
	<h4>{{ scripts.title }}</h4>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		{% csrf_token %}
		<div class="code-page"><pre><code>{{ scripts.contents }}</code></pre></div>
		<a class="btn btn-default" href="update/">Edit</a>
		<a class="btn btn-default" href='data:application/text;charset=euc-kr,{{ scripts.contents }}' download="{{ scripts.title }}">Download</a>
		<a class="btn btn-default" href="/scripts/{{ scripts.id }}/delete">Delete</a>
		<a class="btn btn-default" href="/scripts/">List</a>
	</div>
</body>
</html>