<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Scripts article</title>
{% include "header.html" %}
<style>
.total-page {
	margin:10px;
}

.code-page {
	margin:5px;
	padding: 5px;
}
</style>
</head>
<body>
	<div class="total-page">
	<h4>{{ scripts.title }}</h4>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		{% csrf_token %}
		<div class="code-page"><pre><code>{{ scripts.contents }}</code></pre></div>
		<p><label name="tag-list">Tag:</label>
		{{ taglist }}
		</p>
		<a class="btn btn-default" href="update/">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
		<a class="btn btn-default" href='data:application/text;charset=euc-kr,{{ scripts.contents }}' download="{{ scripts.title }}">
			<span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a>
		<a class="btn btn-default" href="/scripts/{{ scripts.id }}/delete">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
		<a class="btn btn-default" href="/scripts/">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List</a>
	</div>
</body>
</html>