<!doctype html>
{% load staticfiles %}
<html>
<head>
{% include "header.html" %}    

<title>Scripts List</title>
<style>
.div_body { margin: 10px; padding: 10px;}
.header { 
  margin: 0; 
  padding: 5px; 
  text-align:right;
  background-color:#3f63bf; 
  color:white; 
}
</style>
</head>
<body>  
  <script>
  function nextpage(pagenum)
  {
    document.getElementById('page').value=pagenum;
    document.getElementById("search-form").submit();
  }
</script>
<div class="header">
{% if user.username %}
  {{ user.last_name}}{{ user.first_name}} ({{ user.username}}) 님
  <a href="/scripts/logout" class="btn btn-default">Logout</a>
{% else %}
<a class="btn btn-default" href="/scripts/login" class="btn">Login</a>
<a class="btn btn-default" href="/scripts/register" class="btn">Register</a>
{% endif %}
</div>

<div class="div_body">
<h4>Scripts list</h4>

<form class="form-inline" id="search-form" method="post" action=".">
  {% csrf_token %}
  <p>
  <select class="form-control" name="query_type">
    <option value="title" {% if query_type == 'title' %} selected {% endif %}>Title</option>
    <option value="contents" {% if query_type == 'contents' %} selected {% endif %}>Contents</option>
    <option value="tag" {% if query_type == 'tag' %} selected {% endif %}>Tag</option>
  </select>
  <input class="form-control" type="text" name="query"  value="{{ query }}"/>
  <input class="btn btn-default" type="submit" value="Search" />
  </p>
<div id="search-results">
{% if scripts_list %}
    <table class="table table-hover">
    	<tr>
    		<th>제목</th>
          <th>작성자</th>
    		<th>작성일</th>
    	</tr>
    {% for scripts in scripts_list %}
	<tr>
		<td><a href="{% url 'scripts:detail' scripts.id %}">{{ scripts.title }}</a></td>
          <td>{% if scripts.user.last_name %}
          {{ scripts.user.last_name }}{{ scripts.user.first_name }}
          {% else %}
          {{ scripts.user.username }}
          {% endif %}
          </td>
		<td style="text-align : right;">{{ scripts.pub_date|date:"Y-m-j" }}</td>
	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No contents</p>
{% endif %}

</div>
{% if show_paginator %}
<div class="pagination pagination-centered">
  <ul>
  {% if has_prev %}
  <li><a href="javascript:nextpage({{ prev_page }});">Prev</a></li>
  {% endif %}

  {% for page_num in page_list %}
  <li><a href="javascript:nextpage({{ page_num }});">{{ page_num }}</a></li>
  {% endfor %}

  {% if has_next %}
  <li><a href="javascript:nextpage({{ next_page }});">Next</a></li>
  {% endif %}
  </ul>
  <!-- (Page {{ page }} of {{ pages}}) -->
<input type="hidden" id="page" name="page" value="{{ page }}" />
</div>

{% endif %}

</form>
  <div>
    <a href="/scripts/add" class="btn btn-default">Write</a>
    <a href="/scripts/upload" class="btn btn-default">Upload</a>
  </div>
</div> <!-- body -->
</body>
</html>