<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Update Scripts</title>
{% include "header.html" %}
<style type="text/css">
	
	body {
		margin: 10px;
	}
</style>
</head>
<body>  
<h4>{{ scripts.title }}</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'scripts:update_submit' scripts.id %}" method="post" class="form-inline">
{% csrf_token %}
	<table class="table">
		<tr>
			<td>Title</td>
			<td><input class="form-control" type="text" name="title" value="{{ scripts.title }}" /></td>
		</tr>
		<tr>
			<td>Contents</td>
			<td><textarea class="form-control" name="contents" rows="10" cols="100" style="width:95%">{{ scripts.contents }}</textarea></td>
		</tr>
		<tr>
			<td>Tag</td>
			<td><input type="text" class="form-control" name="taglist" id="taglist" value="{{ taglist }}" /></td>
		</tr>
	</table>
<button class="btn btn-default" type="submit">Update</button>
<a class="btn btn-default" href="/scripts/{{ scripts.id }}/delete">Delete</a>
<a class="btn btn-default" href="/scripts/">List</a>
</form>
</body>
</html>