<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Upload Scripts</title>
{% include "header.html" %}
<style type="text/css">
	
	body {
		margin: 10px;
	}
</style>
</head>
<body>  
<h4>Upload Scripts</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post" class="form-inline" enctype="multipart/form-data">
{% csrf_token %}
<p>
<input type="file" name="fileToUpload" id="fileToUpload">
</p>
<button class="btn btn-default" type="submit">Upload</button>
<a class="btn btn-default" href="/scripts/">List</a>
</form>
</body>
</html>